@media (max-width: 1120px) {
  .quote_btn-container a {
    display: none;
  }

  .scrollToTop {
    position: fixed;
    top: 760px;
    right: 10px;
    display: none;
  }

  .wrapper{
    max-width: 305px;
    max-height: 235px;
    bottom: 10px;
    left: 20px;
  }

  .wrapper img{
    max-width: 45px;
  }

  .content header{
    font-size: 15px;
    font-weight: 600;
  }

  .content p{
    color: #858585;
    margin: 1px 0 5px 0;
  }

}

@media (max-width: 992px) {
  .slider_section .slider-container {
    flex-direction: column;
    padding: 0;
  }

  .slider_section .detail-box {
    width: 100%;
    text-align: center;
    padding: 75px 15px;
    background: linear-gradient(135deg, #a454fd, #2b05df);
    position: relative;
  }

  .slider_section .img-box {
    width: 100%;
    margin: 0;
  }

  .slider_section .slider_bg-container {
    display: none;
  }

  .slider_section .detail-box p {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }

  .slider_section .carousel-control-prev,
  .slider_section .carousel-control-next {
    top: initial;
    bottom: 0;
    left: 44.6%;
  }

  .slider_section .carousel-control-prev {
    transform: translate(0, 50%);
  }

  .slider_section .carousel-control-next {
    transform: translate(115%, 50%);
  }

  .service_section .service_container {
    flex-wrap: wrap;
    justify-content: center;
  }

  .service_section .box {
    margin: 25px;
  }

  .service_section .box .name h6 {
    color: #ffffff;
  }

  .service_section::before {
    height: 100%;
  }

  .portfolio_section {
    padding-top: 75px;
  }

  .contact_items {
    flex-wrap: wrap;
    justify-content: center;
  }

  .contact_items .item {
    margin: 20px;
  }

  .scrollToTop {
    position: fixed;
    top: 700px;
    right: 20px;
    display: none;
  }

  .wrapper{
    max-width: 255px;
    max-height: 235px;
    bottom: 10px;
    left: 20px;
  }

  .wrapper img{
    max-width: 35px;
  }

  .content header{
    font-size: 15px;
    font-weight: 600;
  }

  .content p{
font-size: 15px;
  }

  .buttons button{
    font-size: 12px;
  } 
  .buttons .item{
    margin: 0 5px;
  }
}

@media (max-width: 768px) {
  .client_section .client_container {
    width: 100%;
  }

  .client_section .client_container .box {
    margin: 20px 15px;
  }

  .client_section .carousel-control-prev,
  .client_section .carousel-control-next {
    display: none;
  }

  .subscribe_section form {
    margin-top: 25px;
  }

  .contact_section .contact_form-container button {
    margin-bottom: 45px;
  }

  .contact_section .contact_form-container input {
    width: 100%;
  }


  .scrollToTop {
    position: fixed;
    top: 700px;
    right: 20px;
    display: none;
  }

  .wrapper{
    max-width: 205px;
    max-height: 235px;
    bottom: 10px;
    left: 20px;
  }

  .wrapper img{
    max-width: 35px;
  }

  .content header{
    font-size: 15px;
    font-weight: 600;
  }

  .content p{
font-size: 10px;
  }

  .buttons button{
    font-size: 10px;
  } 
  .buttons .item{
    margin: 0 5px;
  }

}

@media (max-width: 576px) {
  .slider_section .carousel-control-prev,
  .slider_section .carousel-control-next {
    left: 44.6%;
  }

  .custom_heading-container hr {
    display: none;
  }

  .service_section h2{
    margin-left: -230%;
  }

  .news_section h2{
    margin-left: -80%;
  }

  .contact_section h2{
    margin-left: -270%;
  }


  .scrollToTop {
    position: fixed;
    top: 600px;
    right: 10px;
    display: none;
  }

  .wrapper{
    max-width: 205px;
    max-height: 235px;
    bottom: 10px;
    left: 20px;
  }

  .wrapper img{
    max-width: 35px;
  }

  .content header{
    font-size: 15px;
    font-weight: 600;
  }

  .content p{
font-size: 10px;
  }


  .buttons button{
    font-size: 10px;
  } 
  .buttons .item{
    margin: 0 5px;
  }

}

@media (max-width: 480px) {
  .slider_section .carousel-control-prev,
  .slider_section .carousel-control-next {
    left: 39%;
  }

  .subscribe_section form {
    flex-direction: column;
    align-items: center;
  }

  .subscribe_section form button {
    transform: none;
    margin-top: 15px;
  }

  .slider_section .detail-box h1 {
    font-size: 2.5rem;
  }

  .scrollToTop {
    position: fixed;
    top: 425px;
    right: 10px;
    display: none;
  }

  .service_section h2{
    margin-left: -180%;
  }

  .news_section h2{
    margin-left: -50%;
  }

  .contact_section h2{
    margin-left: -210%;
  }

}

@media (max-width: 420px) {

  .service_section h2{
    margin-left: -140%;
  }

  .news_section h2{
    margin-left: -30%;
  }

  .contact_section h2{
    margin-left: -170%;
  }

}

@media (max-width: 360px) {
  .slider_section .carousel-control-prev,
  .slider_section .carousel-control-next {
    left: 36%;
  }
  .scrollToTop {
    position: fixed;
    top: 375px;
    right: 10px;
    display: none;
  }

  .service_section h2{
    margin-left: -110%;
  }

  .news_section h2{
    margin-left: -10%;
  }

  .contact_section h2{
    margin-left: -130%;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1170px;
  }

  .custom_nav-container.navbar-expand-lg .navbar-nav .nav-link {
    padding: 10px 30px;
  }
  .scrollToTop {
    position: fixed;
    top: 755px;
    right: 30px;
    display: none;
  }
}
