:root {
  --porcelain: #f1f2f3;
  --white: #ffffff;
  --gray: rgba(0, 0, 0, 0.5);
  --shark: #1d1f22;
}

.container {
  position: relative;
  z-index: 9999; /* Defina um valor menor para o z-index do container */
  display: flex;
  width: 90vw;
  margin: 0 auto;
  flex-direction: column;
  max-width: 1200px;
}

.cart-icon,
.remove-icon,
.add-icon {
  font-family: Material Icons, sans-serif;
  cursor: pointer;
  padding-left: 15px;
}

.navbar {
  display: flex;
  width: 100%;
  align-items: center;
  height: 80px;
}

.rating__star {
  font-family: Material Icons, sans-serif;
  font-size: 0.825rem;
  color: var(--blue);
}

/* .product {
  width: 256px;
  height: 467px;
  padding: 16px;
} */

/* .product:hover {
  border: 1px solid var(--porcelain);
} */

.product:hover > .product__image > .cart__button--list {
  display: flex;
  z-index: 96;
}

.products-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.product__image {
  position: relative;
  margin-right: 2100px;
  width: 228px;
  height: 247px;
  background-color: gray;
}

.product__title:hover {
  color: #3a8bcd;
}

.product__title {
  font-size: 17px;
  font-weight: 700;
  color: #1e1e1e;
  margin-top: 15px;
  transition: all 0.5s;
}

.product__price {
  color: #3a8bcd;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 160%;
}

.product__rating {
  color: #3a8bcd;
  height: 23px;
  display: flex;
}

.rating {
  width: 94px;
}

.rating__total {
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 160%;
}

.cart {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: var(--gray);
  z-index: 7;
}

.cart__close {
  height: 52px;
  width: 52px;
  position: fixed;
  float: right;
  top: 34px;
  right: 365px;
  z-index: 5;
}

.cart__close,
.product__remove {
  border-radius: 50%;
  background-color: var(--blue);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 5;
}

.close-icon {
  z-index: 5;
  font-family: Material Icons, sans-serif;
  color: var(--white);
  font-size: 2.5rem;
  cursor: pointer;
}

.cart__content {
  position: absolute;
  width: 408px;
  height: 100vh;
  background-color: var(--white);
  padding: 24px;
  display: block;
  flex-direction: column;
  z-index: 2; /* Defina um valor maior para o z-index do .cart__content */
  top: 0;
  right: 0;
}

.cart__products {
  height: 698px;
  width: 100%;
  overflow-y: scroll;
}

.cart__products::-webkit-scrollbar {
  display: none;
}

.cart__empty {
  text-align: center;
  margin-top: 150px;
}

.empty__title {
  color: var(--blue);
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 160%;
  margin-top: 80px;
}

.empty__subtitle {
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  line-height: 160%;
  margin-top: 16px;
}

.cart__actions {
  width: 100%;
  min-height: 151px;
  display: flex;
  flex-direction: column-reverse;
}


.cart__button {
  cursor: pointer;
  border: 1px solid #115dd8;
  padding: 14px 60px;
  border-radius: 200px;
  color: #fff;
  background: #115dd8;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  transition: 200ms;
}

.cart__button:hover {
  background-color: var(--white);
  color: var(--blue);
}

.cart__button2 {
  cursor: pointer;
  border: 1px solid #115dd8;
  width: 100%;
  padding: 10px;
  border-radius: 200px;
  color: #fff;
  background: #115dd8;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  transition: 200ms;
}

.cart__button2:hover {
  background-color: var(--white);
  color: var(--blue);
}

.cart__button1 {
  width: 100%;
  height: 52px;
  text-transform: uppercase;
  border: none;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 120%;
}

/* .cart__button-secondary {
  background-color: var(--shark);
  align-items: center;
  justify-content: center;
} */

.cart__button--list {
  width: 90%;
  margin: 0 auto;
  justify-self: center;
  align-self: center;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  top: -80px;
  display: none;
  cursor: pointer;
  z-index: 92;
}

.cart__product {
  width: 100%;
  height: 216px;
  padding: 8px;
  display: flex;
}

.cart__product:hover {
  box-shadow: 0px 4px 11px 0px rgba(29, 31, 34, 0.1);
}

.cart__product:hover > .product__remove {
  display: flex;
}

.cart__product-image {
  width: 140px;
  height: 200px;
}

.cart__product-details {
  margin-left: 24px;
  width: 100%;
}

.cart__product-title {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 160%;
}

.cart__product-price {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 160%;
  margin-top: 25px;
}

.cart__product-options {
  margin-top: 15px;
}

.option__name,
.option__value {
  font-style: normal;
  font-size: 16px;
  line-height: 120%;
}

.option__value {
  font-weight: 600;
}

.product__remove {
  width: 26px;
  height: 26px;
  position: fixed;
  right: 0;
  display: none;
}

.product__remove > .close-icon {
  font-size: 1rem;
}

.cart__total-items {
  margin: 40px;
}

.cart__total-label,
.cart__total-value {
  font-weight: 500;
  font-size: 18px;
  line-height: 120%;
}

.cart__total-value {
  font-weight: 600;
  margin-left: 8px;
  font-weight: 600;
}

.quantity-selector {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 160%;
  position: relative;
  margin: 0 auto;
  height: 40px;
  width: 108px;
  top: -60px;
  padding: 16px;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.cart__summary {
  margin-top: 60px;
  margin-bottom: 8px;
  flex-direction: column;
}

.summary__item {
  display: flex;
  justify-content: space-between;
}

.summary__label,
.summary__value {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 120%;
}

.summary__value {
  font-weight: 600;
}

.carrinho {
  max-width: 350px;
  max-height: 350px;
}

.container_1 {
  flex: 1;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.checkout-btn__icon {
  margin-left: 90px;
}

.checkout-btn__text {
  margin-right: 70px;
}

.checkout-btn {
  margin-left: 0px;
  cursor: pointer;
  position: relative;
  background: #3498db;
  width: 400px;
  color: white;
  border: none;
  border-radius: 0.65rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 0.75rem 1rem;
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.02), 0 6.7px 5.3px rgba(0, 0, 0, 0.028), 0 12.5px 10px rgba(0, 0, 0, 0.035),
    0 22.3px 17.9px rgba(0, 0, 0, 0.042), 0 41.8px 33.4px rgba(0, 0, 0, 0.05), 0 100px 80px rgba(0, 0, 0, 0.07);
}
.checkout-btn:hover {
  background: #217dbb;
}
.checkout-btn__success,
.checkout-btn__failure {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
}
.checkout-btn__success span,
.checkout-btn__failure span {
  margin-right: 0.5rem;
}

/* Implementacao do carrinho e */
.cart1 {
  position: relative;
  top: 5px;
  right: 1px;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
}

.cart1 i {
  font-size: 25px;
  color: white;
}
.cart1:before {
  content: attr(data-totalitems);
  font-size: 12px;
  font-weight: 600;
  position: absolute;
  top: 0px;
  right: -17px;
  background: #00b7ff;
  line-height: 24px;
  padding: 0 5px;
  height: 24px;
  min-width: 24px;
  color: white;
  text-align: center;
  border-radius: 24px;
}
.cart1.shake {
  animation: shakeCart 0.4s ease-in-out forwards;
}
@keyframes xAxis {
  100% {
    transform: translateX(calc(50vw - 105px));
    z-index: 80; /* Valor alto para garantir que a animação fique na frente */
  }
}

@keyframes yAxis {
  100% {
    transform: translateY(calc(-50vh + 75px));
    z-index: 80; /* Valor alto para garantir que a animação fique na frente */
  }
}

@keyframes shakeCart {
  25% {
    transform: translateX(6px);
  }
  50% {
    transform: translateX(-4px);
  }
  75% {
    transform: translateX(2px);
  }
  100% {
    transform: translateX(0);
  }
}

.hidden {
  display: none;
}

/* mensagem de sucesso e de erro */
.container_2 {
  position: relative;
  margin: auto;
  overflow: hidden;
  width: 700px;
  height: 250px;
  right: 35%;
}

.message h1 {
  font-size: 0.9em;
  font-weight: 400;
  letter-spacing: 3px;
  padding-top: 5px;
  color: #fcfcfc;
  padding-bottom: 5px;
  text-transform: uppercase;
}
.green {
  color: #4ec07d;
}
.red {
  color: #e96075;
}
/* .alert {
  font-weight: 700;
  letter-spacing: 5px;
} */
.message p {
  margin-top: -5px;
  font-size: 1em;
  font-weight: 400;
  color: #fcfcfc;
  letter-spacing: 1px;
}
.message button,
.dot {
  cursor: pointer;
}

#success-box {
  position: absolute;
  width: 35%;
  height: 100%;
  left: 12%;
  background: linear-gradient(to bottom right, #b0db7d 40%, #99dbb4 100%);
  border-radius: 20px;
  box-shadow: 5px 5px 20px rgba(203, 205, 211, 10);
  perspective: 40px;
}

#error-box {
  position: absolute;
  width: 35%;
  height: 100%;
  right: 12%;
  background: linear-gradient(to bottom left, #ef8d9c 40%, #ffc39e 100%);
  border-radius: 20px;
  box-shadow: 5px 5px 20px rgba(203, 205, 211, 10);
}
.dot {
  width: 8px;
  height: 8px;
  background: #fcfcfc;
  border-radius: 50%;
  position: absolute;
  top: 4%;
  right: 6%;
}
.dot:hover {
  background: #c9c9c9;
}
.two {
  right: 12%;
  opacity: 0.5;
}
.face {
  position: absolute;
  width: 22%;
  height: 22%;
  background: #fcfcfc;
  border-radius: 50%;
  border: 1px solid #777;
  top: 21%;
  left: 37.5%;
  z-index: 2;
  animation: bounce 1s ease-in infinite;
}
.face2 {
  position: absolute;
  width: 22%;
  height: 22%;
  background: #fcfcfc;
  border-radius: 50%;
  border: 1px solid #777;
  top: 21%;
  left: 37.5%;
  z-index: 2;
  animation: roll 3s ease-in-out infinite;
}
.eye {
  position: absolute;
  width: 5px;
  height: 5px;
  background: #777;
  border-radius: 50%;
  top: 40%;
  left: 20%;
}
.right {
  left: 68%;
}
.mouth {
  position: absolute;
  top: 43%;
  left: 41%;
  width: 7px;
  height: 7px;
  border-radius: 50%;
}
.happy {
  border: 2px solid;
  border-color: transparent #777 #777 transparent;
  transform: rotate(45deg);
}
.sad {
  top: 49%;
  border: 2px solid;
  border-color: #777 transparent transparent #777;
  transform: rotate(45deg);
}
.shadow {
  position: absolute;
  width: 21%;
  height: 3%;
  opacity: 0.5;
  background: #777;
  left: 40%;
  top: 43%;
  border-radius: 50%;
  z-index: 1;
}
.scale {
  animation: scale 1s ease-in infinite;
}
.move {
  animation: move 3s ease-in-out infinite;
}
.message {
  position: absolute;
  width: 100%;
  text-align: center;
  height: 40%;
  top: 47%;
}
.button-box {
  position: absolute;
  background: #f6f6f8;
  width: 50%;
  height: 13%;
  border-radius: 20px;
  top: 77%;
  left: 25%;
  outline: 0;
  border: none;
  box-shadow: 2px 2px 10px rgba(119, 119, 119, 0.5);
  transition: all 0.5s ease-in-out;
}

.button-box h1 {
  font-size: 1em;
  font-weight: 600;
  letter-spacing: 3px;
  padding-top: 5px;
  color: #00ff159c;
  padding-bottom: 15px;
  text-transform: unset;
}
.button-box:hover {
  background: #efefef;
  transform: scale(1.05);
  transition: all 0.3s ease-in-out;
}
@keyframes bounce {
  50% {
    transform: translateY(-10px);
  }
}
@keyframes scale {
  50% {
    transform: scale(0.9);
  }
}
@keyframes roll {
  0% {
    transform: rotate(0deg);
    left: 25%;
  }
  50% {
    left: 60%;
    transform: rotate(168deg);
  }
  100% {
    transform: rotate(0deg);
    left: 25%;
  }
}
@keyframes move {
  0% {
    left: 25%;
  }
  50% {
    left: 60%;
  }
  100% {
    left: 25%;
  }
}
#successPopup {
  display: none;
  position: fixed;
  width: 13%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #ffffff;
  padding: 0px;
  border-radius: 17px;
  text-align: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  z-index: 99;
}

.cart__close_1 {
  height: 15px;
  width: 15px;
  position: fixed;
  float: right;
  top: 8px;
  right: 10px;
  z-index: 5;
}

.cart__close_1 {
  border-radius: 50%;
  background-color: var(--gray);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 5;
}

.close-icon1 {
  z-index: 5;
  font-family: Material Icons, sans-serif;
  color: var(--white);
  font-size: 0.7rem;
  cursor: pointer;
}
