
.like-icon{
    margin-left: 250px;
  }

  #profile-picture {
  float: left;
  margin-right: 10px;
}

#profile-picture img {
  width: 50px;
  height: 50px;
  border-radius: 25px;
}


  form {
    background-color: #f2f2f2;
    border-radius: 10px;
    padding: 20px;
    position: fixed;
    bottom: 100;
    right: 1320px;
    left: 0;
    width: 300px;
    margin: auto;
    box-shadow: 0px 0px 10px #ccc;
    display: none;
  }

  input[type="text"] {
    width: 100%;
    padding: 10px;
    font-family: Arial, sans-serif;
    font-size: 14px;
    border-radius: 4px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    resize: none;
    margin-top: 10px;
  }

  textarea {
    width: 100%;
    padding: 10px;
    font-family: Arial, sans-serif;
    font-size: 14px;
    border-radius: 10px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    resize: none;
    margin-top: 10px;
    word-wrap: break-word;
  }


  input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 15px 90px;
    border: none;
    border-radius: 4px;
    margin-right: 0px;
    cursor: pointer;
    float: right;
    margin-top: 10px;
  }

  #comments {
    word-wrap: break-word;
    margin-left: -30PX;
  }




  @media (max-width: 1200px) {
    #form {
    margin-left: 100px;
    
    }
  }

  @media (max-width: 1120px) {
    #form {
    margin-left: 100px;
    
    }
  }


  @media (max-width: 480px) {

    #icon-select{
      margin-top: 18px;
    }

    .like-icon {
      text-align: left;
      margin-left: 45%;
  
      }

    .form {
    max-width: 300px;
    margin-left: 8%;
    }

  
  }

  @media (max-width: 420px) {

    #icon-select{
      margin-top: 18px;
    }

    .like-icon {
      text-align: left;
      margin-left: 45%;
  
      }

    .form {
    max-width: 300px;
    margin-left: 8%;
    }

  
  }
  
  @media (max-width: 380px) {

    #icon-select{
      margin-top: 18px;
    }

    .like-icon {
      text-align: left;
      margin-left: 45%;
  
      }

      .form input[type="submit"] {
        margin-right: 0px;
        background-color: #4CAF50;
        color: white;
        padding: 15px 73px;
        margin-top: 10px;
      }

    .form {
    max-width: 270px;
    }
  }


  @media (max-width: 300px) {

    .form input[type="submit"] {
      background-color: #4CAF50;
      color: white;
      padding: 15px 30px;
      margin-top: 10px;
    }
  

    .form {
    width: 70%;
    margin-left: 7%;

    }

    .like-icon {
    text-align: left;
    margin-left: 45%;

    }
  }