/* Responsiveldade do codigo */

@media (max-width: 1400px) {
  input[type="submit"] {
    width: 100%;
    margin: 10px 0;
  }

  .form {
  padding: 10px;
  height: 50%;  
  width: 70%;
  margin-left: 16%;

  }

  .like-icon {
  text-align: left;
  margin-left: 45%;

  }

  #comments{
    margin-left: -5%;
    font-size: 15px;
    margin-top: 1%;
    width: 105%;
    height: 200px;
    overflow-y: scroll;
    word-wrap: break-word;
  }


  #profile-picture img{
    width: 50px;
    height: 50px;
    border-radius: 25px;
  }

  #profile-picture select{
    width: 80px;
    height: 25px;
    margin-left: 1%;
  }

  .form input[type="text"] {
    width: 100%;
    height: 7%;
    margin-top: 10px;
  }
}

  @media (max-width: 1200px) {
    input[type="submit"] {
      width: 100%;
      margin: 10px 0;
    }

    .form {
    padding: 10px;
    height: 50%;  
    width: 70%;
    margin-left: 16%;

    }

    .like-icon {
    text-align: left;
    margin-left: 45%;

    }

    #comments{
      margin-left: -5%;
      font-size: 15px;
      margin-top: 1%;
      width: 105%;
      height: 200px;
      overflow-y: scroll;
      word-wrap: break-word;
    }


    #profile-picture img{
      width: 50px;
      height: 50px;
      border-radius: 25px;
    }

    #profile-picture select{
      width: 80px;
      height: 25px;
      margin-left: 1%;
    }

    .form input[type="text"] {
      width: 100%;
      height: 7%;
      margin-top: 10px;
    }
  }



  @media (max-width: 1120px) {

    input[type="submit"] {
      width: 100%;
      margin: 10px 0;
    }

    .form {
    padding: 10px;
    height: 50%;  
    width: 70%;
    margin-left: 16%;

    }

    .like-icon {
    text-align: left;
    margin-left: 45%;

    }

    #comments{
      margin-left: -5%;
      font-size: 15px;
      margin-top: 1%;
      width: 105%;
      height: 200px;
      overflow-y: scroll;
      word-wrap: break-word;
    }


    #profile-picture img{
      width: 50px;
      height: 50px;
      border-radius: 25px;
    }

    #profile-picture select{
      width: 80px;
      height: 25px;
      margin-left: 1%;
    }

    .form input[type="text"] {
      width: 100%;
      height: 7%;
      margin-top: 10px;
    }
  }


  @media only screen and (max-width: 768px) {
    input[type="submit"] {
      width: 100%;
      margin: 10px 0;
    }

    .form {
    padding: 10px;
    height: 50%;  
    width: 70%;
    margin-left: 16%;

    }

    .like-icon {
    text-align: left;
    margin-left: 45%;

    }

    #comments{
      margin-left: -7%;
      font-size: 15px;
      margin-top: 1%;
      width: 107%;
      height: 200px;
      overflow-y: scroll;
      word-wrap: break-word;
    }


    #profile-picture img{
      width: 50px;
      height: 50px;
      border-radius: 25px;
    }

    #profile-picture select{
      width: 80px;
      height: 25px;
      margin-left: 1%;
    }

    .form input[type="text"] {
      width: 100%;
      height: 7%;
      margin-top: 10px;
    }
  }

  @media (max-width: 480px) {

    input[type="submit"] {
      width: 100%;
      margin: 10px 0;
    }

    .form {
    padding: 10px;
    height: 50%;  
    width: 70%;
    margin-left: 16%;

    }

    .like-icon {
    text-align: left;
    margin-left: 45%;

    }

    #comments{
      margin-left: -10%;
      font-size: 15px;
      margin-top: 1%;
      width: 110%;
      height: 200px;
      overflow-y: scroll;
      word-wrap: break-word;
    }


    #profile-picture img{
      width: 50px;
      height: 50px;
      border-radius: 25px;
    }

    #profile-picture select{
      width: 80px;
      height: 25px;
      margin-left: 1%;
    }

    .form input[type="text"] {
      width: 100%;
      height: 7%;
      margin-top: 10px;
    }
  }

  @media (max-width: 420px) {

    input[type="submit"] {
      width: 100%;
      margin: 10px 0;
    }

    .form {
    padding: 10px;
    height: 50%;  
    width: 70%;
    margin-left: 16%;

    }

    .like-icon {
    text-align: left;
    margin-left: 45%;

    }

    #comments{
      margin-left: -12%;
      font-size: 15px;
      margin-top: 1%;
      width: 115%;
      height: 200px;
      overflow-y: scroll;
      word-wrap: break-word;
    }


    #profile-picture img{
      width: 50px;
      height: 50px;
      border-radius: 25px;
    }

    #profile-picture select{
      width: 80px;
      height: 25px;
      margin-left: 1%;
    }

    .form input[type="text"] {
      width: 100%;
      height: 7%;
      margin-top: 10px;
    }
  }

  
  @media (max-width: 390px) {

    input[type="submit"] {
      width: 100%;
      margin: 10px 0;
    }

    .form {
    padding: 10px;
    height: 50%;  
    width: 70%;
    margin-left: 16%;

    }

    .like-icon {
    text-align: left;
    margin-left: 45%;

    }

    #comments{
      margin-left: -13%;
      font-size: 15px;
      margin-top: 1%;
      width: 115%;
      height: 200px;
      overflow-y: scroll;
      word-wrap: break-word;
    }


    #profile-picture img{
      width: 50px;
      height: 50px;
      border-radius: 25px;
    }

    #profile-picture select{
      width: 80px;
      height: 25px;
      margin-left: 1%;
    }

    .form input[type="text"] {
      width: 100%;
      height: 7%;
      margin-top: 10px;
    }
  }

  

  @media (max-width: 341px) {

    input[type="submit"] {
      width: 100%;
      margin: 10px 0;
    }

    .form {
    padding: 10px;
    height: 50%;  
    width: 70%;
    margin-left: 16%;

    }

    .like-icon {
    text-align: left;
    margin-left: 45%;

    }

    #comments{
      margin-left: -15%;
      font-size: 15px;
      margin-top: 1%;
      width: 117%;
      height: 200px;
      overflow-y: scroll;
      word-wrap: break-word;
    }


    #profile-picture img{
      width: 50px;
      height: 50px;
      border-radius: 25px;
    }

    #profile-picture select{
      width: 80px;
      height: 25px;
      margin-left: 1%;
    }

    .form input[type="text"] {
      width: 100%;
      height: 7%;
      margin-top: 10px;
    }
  }